<div class="card">
  <ng-container [ngTemplateOutlet]="counterHtml"></ng-container>
</div>
<div class="card">
  <ng-container [ngTemplateOutlet]="counterHtml"></ng-container>
</div>
<div class="card">
  <ng-container [ngTemplateOutlet]="counterHtml"></ng-container>
</div>


<ng-template #counterHtml>
  <div class="card-header">
    You have selected
    <span class="badge badge-info">{{ counter }}</span> items.
  </div>
</ng-template>

<hr>

<app-tabscomponent [navs]="navs"></app-tabscomponent>

