<h1> Day 7</h1>

<app-progress-bar 
[progress] ="current">

</app-progress-bar>
<br>

<app-progress-bar
  [progress]="current"
  [backgroundColor]="'#9e9e9e'"
  [progressColor]="'red'"
>
</app-progress-bar>
<br>

<app-progress-bar
  [progress]="current"
  [backgroundColor]="'#9e9e9e'"
  [progressColor]="'yellow'"
>
</app-progress-bar>
<br>

<app-progress-bar
  [progress]="90"
  [backgroundColor]="'#9e9e9e'"
  [progressColor]="'green'"
>
</app-progress-bar>

<br>

<button (click)="current = current + valueIncrease;">inCrease</button>
